@media screen and (max-width: 1400px) {
  html {
    font-size: 18px;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
  }

  nav {
    padding: 0px 3%;
  }
  .home {
    height: auto;
  }
  section,
  .contact .row,
  .project .row,
  footer .footer-container {
    padding: 0px 3%;
    height: auto;
  }

  .home .content h1 .bold {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Lexend Deca", sans-serif;
  }

  nav .logo a {
    font-size: 1.2rem;
  }

  .project .row img {
    border-radius: 25px;
    max-width: 510px;
    height: 400px;
    object-fit: cover;
  }
}

@media screen and (max-width: 1000px) {
  nav .menu {
    display: inline-block;
  }
  nav .menu .fa-bars {
    display: none;
  }
  nav .menu .fa-x {
    color: rgb(233, 44, 44);
    font-size: 30px;
    display: none;
  }
  nav .menu .fa-bars.active {
    display: block;
  }
  nav .menu .fa-x.active {
    display: block;
  }

  nav .navbar {
    padding-top: 30px;
    display: block;
    position: absolute;
    background-color: white;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 40px;
    left: 100%;

    height: 100vh;
  }
  nav .cv {
    position: absolute;
    top: 420px;
    z-index: 1000;
    width: 100%;
    /* text-align: center; */
    /* display: block; */
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0;
    left: 100%;
  }

  nav.active .cv {
    left: 0;
  }
  nav.active .navbar {
    display: block;
    position: absolute;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 50px;
    left: 0;

    height: 100vh;
  }
  nav.active .cv {
    width: 100%;
    /* text-align: center; */
    /* display: block; */
    display: flex;
    justify-content: center;
    position: absolute;
    top: 420px;
    margin: 0;
    left: 0;

    /* height: 100vh; */
  }
  nav .cv a {
    /* width: 200px; */
    text-align: center;
    display: inline-block;

    /* position: absolute;
        top: 60px;
        height: 100vh; */
  }
  nav .navbar a {
    /* width: 100%; */
    margin-bottom: 1rem;
    margin-left: 0px;
  }

  /* about section  */
  .home {
    display: flex;
    flex-direction: column;
  }
  .home .image {
    order: -1;
    max-width: 400px;
    width: 80%;
    height: 300px;
  }
  .home .content {
    /* border: 1px solid black; */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .social-links {
    width: 80%;
    margin: auto;
  }

  .skills .row {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    /* align-content: space-between; */
    justify-content: center;
    gap: 1rem;
  }

  /* about  */
  .about {
    margin: 60px auto;
    /* border: 1px solid black; */
    display: block;
    /* flex-direction: row; */
    gap: 40px;
  }

  .about div {
    /* border: 1px solid black; */
    width: 100%;
  }

  .about .image-div img {
    max-width: 400px;
    width: 100%;
  }

  .about .image-div,
  .about .content {
    width: 100% !important;
  }

  /* ============================ */
  /* .contact    */
  .contact .row {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* padding-top: 100px; */
  }
  .contact .row div {
    width: 100%;
  }
  .contact .row .info {
    padding-left: 0px;
  }

  .contact .row .btns {
    /* border: 1px solid black; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
  }

  .contact .row form button {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    background-color: #000;
    color: white;
  }

  .contact .row form i {
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    margin-right: 0.5rem;
    color: #000;
    background-color: white;
  }

  .project .row:nth-child(even) {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .project .row > div {
    /* border: #1e90ff solid 1px; */
    width: 100%;
  }
  .project .row .image {
    display: flex;
    justify-content: center;
  }
  .project .row img {
    max-width: 400px;
    width: 100%;
  }

  .project .row {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .project .row .content {
    max-width: 350px;
    margin: auto;
  }

  .project .row:nth-child(odd) .content {
    /* max-width: 350px;
    margin: auto; */
    order: 1;
  }

  /* About Section Mobile Responsive */
  .about-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about-image {
    order: -1;
  }

  .about-stats {
    gap: 20px;
  }

  .stat {
    padding: 15px;
    min-width: 70px;
  }

  .stat-number {
    font-size: 1.5rem;
  }

  /* Contact Section Mobile Responsive */
  .contact-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .contact-form {
    padding: 30px;
  }

  .contact-form img {
    display: none; /* Hide the contact image on mobile */
  }

  .contact-social {
    justify-content: center;
  }

  /* Footer Mobile Responsive */
  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .footer-brand {
    grid-column: 1 / -1;
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 18px;
    cursor: auto;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    overflow-x: hidden;
  }
  .home {
    margin-top: 80px;
  }
  nav .cv a {
    width: 80%;
  }
  .social-links {
    position: static;
    width: 100%;
    /* margin: 20px auto; */
    flex-direction: row;
    justify-content: center;
    transform: none;
  }

  .cta-buttons a {
    /* margin: 0px  1rem; */
    /* gap: 20px; */
    margin: 5px 0px;
    width: 80%;
    /* gap: 20px; */
  }
  .social-links a {
    margin: 0 10px;
  }

  .home .image {
    display: none; /* Hide the hero image on mobile */
  }
  .home .content {
    /* border: 1px solid black; */
    width: 100%;
    height: fit-content;
    /* margin: 40px 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
    /* padding-top: 10px; */
  }

  .home .content h1 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .home .content h1 .bold {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Lexend Deca", sans-serif;
  }
  .home .content h1 .outline {
    /* border: 1px solid black; */
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.55rem;
  }
  #new-line-in-mobile {
    display: block;
  }
  .skills .row {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */

    /* align-content: space-between; */
    justify-content: center;
    gap: 1rem;
  }
  .skills .row .box {
    height: 150px;
  }
  .contact .row form button {
    flex: 1;
    display: block;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    background-color: #000;
    color: white;
  }
  .project .row img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  .about {
    padding: 40px 0;
    margin: 40px auto;
  }

  .about-header h2 {
    font-size: 2rem;
  }

  .about-intro {
    font-size: 1.1rem;
  }

  .about-description {
    font-size: 1rem;
  }

  .about-stats {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .contact {
    padding: 40px 0;
  }

  .contact-form {
    padding: 20px;
  }

  .contact-social {
    gap: 10px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-social-links {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  /* Mobile-specific social links styling */
  .social-links {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 30px auto; */
    transform: none;
    /* gap: 10px; */
    padding: 0;
  }

  .social-links a {
    margin: 0 5px;
  }

  .social-links i {
    font-size: 22px;
  }

  /* Language switcher responsive */
  .language-switcher {
    position: absolute;
    top: 486px;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 100%;
    z-index: 1000;
  }

  nav.active .language-switcher {
    left: 0;
  }

  .lang-btn {
    padding: 10px 20px;
    font-size: 16px;
  }

  nav .cv a {
    width: 80%;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .footer-contact-info {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}
